<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Builder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='src/icon/icon.webp') }}">
</head>
<body class="cvb-bg">

    <header class="cvb-header cvb-anim-fade-in cvb-anim-slide-down">
        <a href="{{ url_for('core.index') }}" class="cvb-logo">
            <img src="{{ url_for('static', filename='src/icon/icon.webp') }}">
            CV Builder
        </a>

        {% if session.get('usuario_id') %}
        <nav class="cvb-nav">
                
                <a href="{{ url_for('cv.nuevo_cv') }}" class="cvb-nav-btn cvb-nav-btn--outline">+ Nuevo Documento</a>
                <a href="{{ url_for('auth.logout') }}" class="cvb-nav-btn cvb-nav-btn--outline">Salir</a>
        </nav>
        {% endif %}
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="toast-container">
                {% for category, message in messages %}
                    <div class="toast toast-{{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <main class="cvb-container">
        {% block content %}{% endblock %}
    </main>

    <script src="{{ url_for('static', filename='js/toasts.js') }}"></script>
</body>
</html>